In [26]:
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process 
import pandas as pd

def checker(wrong_options,correct_options):

    names_array=[]
    ratio_array=[]    
    for wrong_option in wrong_options:
        if wrong_option in correct_options:
            names_array.append(wrong_option)
            ratio_array.append('100')
            
           
        else:   
            x=process.extractOne(wrong_option,correct_options,scorer=fuzz.token_set_ratio)
            names_array.append(x[0])
            ratio_array.append(x[1])
    return names_array,ratio_array

df_Original_List=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\New folder\TFMS Analysis Template Check %.xlsx',sheet_name='Commercial Data')

df_To_beMatched=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\New folder\TFMS Analysis Template Check %.xlsx',sheet_name='TQC Data')

In [27]:
df_Original_List.head(2)

,lookup,Origin,Supplier_Number,Supplier_Name,Commercial_Director,Commercial_Area,Category_Director,Category_Area,Buying_Controller,Product_Area,...,Parent_Supplier_Number_TFMS,Parent_Supplier_Name,OBL Count,Count,Supplier Name from TQC,Supplier Code from TQC,Supplier Number from TQC,Match?,COGS,COGS >0
0,65450WASHIN G.,Commercial,65450,OTL,PACKAGE D.,Packaged,HB&WELLNES S.,"Health, Beauty & Wellness",TOILETRIE S.,Toiletries,...,4723,OTL,0,216,NaN,NaN,NaN,no match,NaN,False
1,63057KOSHE R.,Commercial,63057,GOLDEN ACRE FOODS LTD,PACKAGE D.,Packaged,GROCER Y.,Grocery,INGREDS&GLOBA L.,Ingredients & Global Grocery,...,6404,GOLDEN ACRE DAIRY FOODS LTD,0,3617,NaN,NaN,NaN,no match,NaN,False

In [28]:
df_To_beMatched.head(2)

,lookup,Origin,Supplier_Code,Supplier_Name,Site_Code,Site_Name,Audit,Last_Audit_Date,Last_Audit_Score,Score,...,Empty Column 1,Empty Column 2,Empty Column 3,Empty Column 4,Empty Column 5,Empty Column 6,Empty Column 7,Empty Column 8,Empty Column 9,Empty Column 10
0,NaN,TQC,A6900,HB Gold Standard Supplier,5010692,HB Gold Standard Site 1,Audit: Training Module Maintenance - only to b...,2017-11-08,NaN,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,TQC,A6900,HB Gold Standard Supplier,5010692,HB Gold Standard Site 1,Audit: Training Module Approval - only to be u...,2017-11-08,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_Original_List['Supplier_Name_3']=df_Original_List['Supplier_Name'].str.upper()
df_To_beMatched['Site_Name_3']=df_To_beMatched['Site_Name'].str.upper()


df_Original_List['Supplier_Name_3']=df_Original_List['Supplier_Name_3'].str.replace('LTD','').str.replace('LIMITED','')
df_To_beMatched['Site_Name_3']=df_To_beMatched['Site_Name_3'].str.replace('LTD','').str.replace('LIMITED','')

In [30]:
# audits_matched=pd.read_excel(r'C:\Users\IN22912959\Audits_Matched.xlsx')

In [31]:
# not_matched=df_To_beMatched.merge(audits_matched[['Supplier Code','Junior_Buyer','Fuzzy_Ratio']].drop_duplicates(),how='left',left_on=['Supplier Code','Junior_Buyer'],right_on=['Supplier Code','Junior_Buyer'])
# not_matched.head(2)

In [32]:
not_matched=df_Original_List[df_Original_List['Supplier Name from TQC'].isnull()]
not_matched.head(2)

,lookup,Origin,Supplier_Number,Supplier_Name,Commercial_Director,Commercial_Area,Category_Director,Category_Area,Buying_Controller,Product_Area,...,Parent_Supplier_Name,OBL Count,Count,Supplier Name from TQC,Supplier Code from TQC,Supplier Number from TQC,Match?,COGS,COGS >0,Supplier_Name_3
0,65450WASHIN G.,Commercial,65450,OTL,PACKAGE D.,Packaged,HB&WELLNES S.,"Health, Beauty & Wellness",TOILETRIE S.,Toiletries,...,OTL,0,216,NaN,NaN,NaN,no match,NaN,False,OTL
1,63057KOSHE R.,Commercial,63057,GOLDEN ACRE FOODS LTD,PACKAGE D.,Packaged,GROCER Y.,Grocery,INGREDS&GLOBA L.,Ingredients & Global Grocery,...,GOLDEN ACRE DAIRY FOODS LTD,0,3617,NaN,NaN,NaN,no match,NaN,False,GOLDEN ACRE FOODS

In [33]:
# df_To_beMatched=not_matched
df_To_beMatched.head(2)
df_To_beMatched[df_To_beMatched['Site_Name']=='Pork Farms Caspian - Poole']

,lookup,Origin,Supplier_Code,Supplier_Name,Site_Code,Site_Name,Audit,Last_Audit_Date,Last_Audit_Score,Score,...,Empty Column 2,Empty Column 3,Empty Column 4,Empty Column 5,Empty Column 6,Empty Column 7,Empty Column 8,Empty Column 9,Empty Column 10,Site_Name_3
2644,48267CHILLED PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2645,54138HOT PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2646,67866MFP PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2647,54138FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2648,61398FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2649,11575CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2650,67866CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2651,67866EASY ENTRTAIN G.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2669,48267CHILLED PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2670,54138HOT PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2671,67866MFP PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2672,54138FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2673,61398FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2674,11575CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2675,67866CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
2676,67866EASY ENTRTAIN G.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Routine,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
3824,48267CHILLED PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Quality,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
3825,54138HOT PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Quality,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
3826,67866MFP PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Quality,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
3827,54138FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Quality,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
3828,61398FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Quality,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
3829,11575CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Quality,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
3830,67866CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Quality,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
3831,67866EASY ENTRTAIN G.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Visit: Quality,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
7699,48267CHILLED PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
7700,54138HOT PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
7701,67866MFP PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
7702,54138FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
7703,61398FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
7704,11575CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
7705,67866CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
7706,67866EASY ENTRTAIN G.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
10042,48267CHILLED PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
10043,54138HOT PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
10044,67866MFP PIE S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
10045,54138FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
10046,61398FRONT OF STOR E.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
10047,11575CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
10048,67866CHILLED SNACK S.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
10049,67866EASY ENTRTAIN G.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: TFMS - Maintenance V6,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
13012,48267,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
13013,54138,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
13014,67866,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
13015,54138,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
13016,61398,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
13017,11575,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
13018,67866,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
13019,67866,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
14884,48267STONEFRUI T.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
14885,54138STONEFRUI T.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
14886,67866STONEFRUI T.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
14887,54138STONEFRUI T.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
14888,61398STONEFRUI T.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
14889,11575STONEFRUI T.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
14890,67866STONEFRUI T.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE
14891,67866STONEFRUI T.,TQC,29244,Kerry Foods Ltd,2409,Pork Farms Caspian - Poole,Audit: Tesco Food Standard,2020-09-04,Green,Green,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PORK FARMS CASPIAN - POOLE

In [34]:
jb_comm=df_To_beMatched['Junior_Buyer'].unique()
jb_comm=pd.DataFrame(jb_comm,columns={'Junior_Buyer'})
# jb_comm=jb_comm[jb_comm['Junior_Buyer']=='STONEFRUI     T.']
jb_comm

         Junior_Buyer
0    AUSTRALIA     O.
1    BERRIE        S.
2    SPECIALCHEES  E.
3    COUNTERS CHEESE.
4    CANNEDMEA     T.
..                ...
290  PREMIUMHAIRCARE.
291  YORKSHIRE     S.
292  OUTLET GROCER Y.
293  EUROPEA       N.
294               NaN

[295 rows x 1 columns]

In [35]:
cols=['TQC_Supplier_Name','Supplier_Code','Comm_Supplier_Name','junio_buyer','correct_ratio']
# commercial_for_loop=commercial_only_OBL.copy()
df2=pd.DataFrame()

output_list=[]


for i in jb_comm['Junior_Buyer']:
    filter_data_tqc=df_To_beMatched[df_To_beMatched['Junior_Buyer']==i]
    filter_data_comm=not_matched[not_matched['Junior_Buyer']==i]

    if not filter_data_comm.empty:

        str2Match = filter_data_tqc['Site_Name_3'].fillna('######').tolist()
        strSupplier_Code =filter_data_tqc['Supplier_Code'].tolist()
        strOptions =filter_data_comm['Supplier_Name_3'].fillna('######').tolist()
#         strTesco_Brand_Ind =filter_data_tqc['Tesco_Brand_Ind'].fillna('######').tolist()
        
#         name_match,ratio_match=checker(str2Match,strOptions)
        
        for j in range(0,len(str2Match)):
            x=process.extractOne(str2Match[j],strOptions,scorer=fuzz.token_set_ratio)
            while x[1]==100:
                output_list=[str2Match[j],strSupplier_Code[j],x[0],i,x[1]]
                zipped = zip(cols, output_list)
                a_dictionary = dict(zipped)
                df1=pd.DataFrame(a_dictionary,columns=cols,index=[j])
                df2=df2.append(df1)
                #drop row which has the matched supplier name and junor buyer
                strOptions.remove(x[0])
                x=process.extractOne(str2Match[j],strOptions,scorer=fuzz.token_set_ratio)
            strOptions =filter_data_comm['Supplier_Name_3'].fillna('######').tolist()
#                 output_list=[str2Match[j],strSupplier_Code[j],x[0],i,x[1],strTesco_Brand_Ind[j]]
                
#                 filter_data_comm.drop(filter_data_comm[(filter_data_comm['Supplier_Name_3'] ==x[0])&(filter_data_comm['Junior_Buyer'] ==i)].index, inplace = True) 
                
            output_list=[str2Match[j],strSupplier_Code[j],x[0],i,x[1]]
            zipped = zip(cols, output_list)
            a_dictionary = dict(zipped)
            df1=pd.DataFrame(a_dictionary,columns=cols,index=[j])
            df2=df2.append(df1)

        
        
df2.head(2)

,TQC_Supplier_Name,Supplier_Code,Comm_Supplier_Name,junio_buyer,correct_ratio
0,HB GOLD STANDARD SITE 1,A6900,DISTELL INTERNATIONAL,AUSTRALIA O.,41
1,HB GOLD STANDARD SITE 1,A6900,DISTELL INTERNATIONAL,AUSTRALIA O.,41

In [36]:
df3=df2[df2['correct_ratio']>=80].drop_duplicates()
df3

,TQC_Supplier_Name,Supplier_Code,Comm_Supplier_Name,junio_buyer,correct_ratio
35,LACTALIS - MCLELLAND CHEESE PACKING,46309,LACTALIS MCLELLAND (EURO,COUNTERS CHEESE.,88
68,LACTALIS - CALEDONIAN CHEESE COMPANY,46309,ORKNEY CHEESE COMPANY,COUNTERS CHEESE.,80
4,FRATELLI POLLI SPA,69121,FRATELLI POLLI SPA,PASTASAUCE S.,100
32,SANTA MARIA - MILTON KEYNES,67470,SANTA MARIA UK,MEXICA N.,88
18,CHOCOLAT FREY AG,21673-1,CHOCOLAT FREY AG,ED GIFT CHOC O.,100
...,...,...,...,...,...
7,INNOPHARMA,60486,INNOPHARMA SRO,VITAMIN S.,100
7,OP CHOCOLATE,12281,ICAM CHOCOLATE UK,CHOCOBAR&MULT I.,86
2,YVON MAU SA,35028,YVON MAU S.A (EURO,DESSERT E.,84
1,PETS CHOICE T/A BOB MARTIN CARDIFF,14178,PETS CHOICE,CATLITTE R.,100
0,"HEIFEI KOBAYASHI DAILY PRODUCTS CO.,",53104,151 PRODUCTS,MEDICIN E.,80

In [22]:
# df2[df2['TQC_Supplier_Name']=='Pork Farms Caspian - Poole']

Empty DataFrame
Columns: [TQC_Supplier_Name, Supplier_Code, Comm_Supplier_Name, junio_buyer, correct_ratio]
Index: []

In [38]:
comm=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\New folder\Commercial.xlsx')
comm.head(2)
comm['Supplier_Name_3']=comm['Supplier_Name'].str.upper().str.replace('LTD','').str.replace('LIMITED','')
comm.head(2)

,Parent_Supplier,Parent_Supplier_name,Supplier_Number,Supplier_Name,Commercial_Director,Commercial_Area,Category_Director,Category_Area,Buying_Controller,Buyer_Area,Buyer,Junior_Buyer,Junior_Area,Product_Area,Status,COGS_TY,OBL_Count,BL_Count,Supplier_Name_3
0,4723,OTL,65450,OTL,PACKAGE D.,Packaged,HB&WELLNES S.,"Health, Beauty & Wellness",TOILETRIE S.,Bathing & Washing,BATHING&WASHING.,WASHIN G.,Washing,Toiletries,Yes,19638.919,0,216,OTL
1,6404,GOLDEN ACRE DAIRY FOODS LTD,63057,GOLDEN ACRE FOODS LTD,PACKAGE D.,Packaged,GROCER Y.,Grocery,INGREDS&GLOBA L.,"European, USA, Caribbean & Kos",EUR USA CAR K O.,KOSHE R.,Kosher,Ingredients & Global Grocery,Yes,76057.291,0,3617,GOLDEN ACRE FOODS

In [39]:
match=comm.merge(df3,how='inner',right_on=['Comm_Supplier_Name','junio_buyer'],left_on=['Supplier_Name_3','Junior_Buyer'])
match.head(2)

,Parent_Supplier,Parent_Supplier_name,Supplier_Number,Supplier_Name,Commercial_Director,Commercial_Area,Category_Director,Category_Area,Buying_Controller,Buyer_Area,...,Status,COGS_TY,OBL_Count,BL_Count,Supplier_Name_3,TQC_Supplier_Name,Supplier_Code,Comm_Supplier_Name,junio_buyer,correct_ratio
0,2581,ASHBURY CONFECTIONERY LTD,40859,ASHBURY CHOCOLATES(IN ADMIN,PACKAGE D.,Packaged,IMPULS E.,Impulse,CONFECTIONER Y.,Chocolate Blocks,...,No,0.000000e+00,25,0,ASHBURY CHOCOLATES(IN ADMIN,LIR CHOCOLATES,53574,ASHBURY CHOCOLATES(IN ADMIN,TRADCHRISTMA S.,83
1,9648,THE AUTHENTIC FOOD COMPANY LTD,68790,THE AUTHENTIC FOOD CO(EUR,FRES H.,Fresh,PREPARED FOOD S.,Prepared Foods,FROZE N.,Frozen Ready meals,...,Yes,1.629933e+07,26259,0,THE AUTHENTIC FOOD CO(EUR,"THE AUTHENTIC FOOD COMPANY , SHARSTON",67482,THE AUTHENTIC FOOD CO(EUR,FZN READY MEALS.,84

In [40]:
aud_sites=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\New folder\Audits.xlsx')
aud_sites.head(2)

,Supplier Code,Supplier Name,Site Code,Site Name,Audit/Visit Name,Latest Audit Date,Latest Audit Score,Score,Due Date,From Date,...,Site Status,list=Business Units,Path,Lead Technical Manager,Country,Junior_Buyer,Buying_Controller,Category_Director,Commercial_Director,Unnamed: 22
0,A6900,HB Gold Standard Supplier,5010692,HB Gold Standard Site 1,Audit: Training Module Maintenance - only to b...,2017-11-08,NaN,Blue,2017-01-09,2017-01-08,...,Active,United Kingdom,TRAINING / Training,UK Helen Boley,United Kingdom,AUSTRALIA O.,WINE S.,BW S.,PACKAGE D.,NaN
1,A6900,HB Gold Standard Supplier,5010692,HB Gold Standard Site 1,Audit: Training Module Approval - only to be u...,2017-11-08,NaN,NaN,2017-04-27,2017-04-27,...,Active,United Kingdom,TRAINING / Training,ZZ Training User,United Kingdom,AUSTRALIA O.,WINE S.,BW S.,PACKAGE D.,NaN

In [41]:
aud_sites=aud_sites[['Supplier Code','Supplier Name','Site Code','Site Name','Junior_Buyer']].drop_duplicates()
aud_sites.head(2)

,Supplier Code,Supplier Name,Site Code,Site Name,Junior_Buyer
0,A6900,HB Gold Standard Supplier,5010692,HB Gold Standard Site 1,AUSTRALIA O.
2,67880,Onubafruit,ON5,Costa de Huelva,BERRIE S.

In [42]:
match_2=match.merge(aud_sites,how='inner',left_on=['Supplier_Code','Junior_Buyer'],right_on=['Supplier Code','Junior_Buyer'])

In [43]:
match_2.to_excel('Comm Name to Site matching.xlsx')