In [1]:

#Connect to SQL server

import pyodbc 
conn = pyodbc.connect('Driver={SQL Server Native Client 11.0};'
                      'Server=pvghsrepdb001uk.global.tesco.org;'
                      'Database=CPRCOE;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT top 10 * FROM tblAudits')

for row in cursor:
    print(row)

('SP0052', 'Prestasi Flour Mill (M) Sdn Bhd', 'ST0012', 'Prestasi Flour Mill (M) Sdn Bhd', 'Audit: TFMS - Maintenance V6', datetime.date(2019, 6, 14), 'Amber', 'Amber', datetime.date(2017, 2, 28), datetime.date(2017, 2, 21), datetime.date(2017, 2, 22), '21143', 'Completed', 'Active', 'MY Charlene Selvarathnam', 'Malaysia', 'Malaysia', 'MY / Grocery - Commodities')
('SP0052', 'Prestasi Flour Mill (M) Sdn Bhd', 'ST0012', 'Prestasi Flour Mill (M) Sdn Bhd', 'Audit: TFMS - Maintenance V6', datetime.date(2019, 6, 14), 'Amber', 'Amber', datetime.date(2018, 7, 31), datetime.date(2018, 7, 24), datetime.date(2018, 7, 25), '104837', 'Completed', 'Active', 'MY Charlene Selvarathnam', 'Malaysia', 'Malaysia', 'MY / Grocery - Commodities')
('SP0052', 'Prestasi Flour Mill (M) Sdn Bhd', 'ST0012', 'Prestasi Flour Mill (M) Sdn Bhd', 'Audit: Tesco Food Standard', datetime.date(2019, 6, 14), 'Amber', 'Amber', datetime.date(2019, 6, 21), datetime.date(2019, 6, 13), datetime.date(2019, 6, 14), '124929', 'Completed', 'Active', 'MY Charlene Selvarathnam', 'Malaysia', 'Malaysia', 'MY / Grocery - Commodities')
('SP0032', 'Wing Seow Heng (Trading & Industrial) Sdn. Bhd.', 'ST0045', 'Yeong Chaur Shing Paper Mill Sdn. Bhd.', 'Audit: TNFMS - Maintenance V3', datetime.date(2019, 6, 12), 'Amber', 'Amber', datetime.date(2018, 6, 5), datetime.date(2018, 6, 5), datetime.date(2018, 6, 6), '104173', 'Completed', 'Active', 'MY Chen Poh Lian', 'Malaysia', 'Malaysia', 'MY / Grocery E - Health Care, Beauty, Paper Product, Personal Care')
('SP0032', 'Wing Seow Heng (Trading & Industrial) Sdn. Bhd.', 'ST0045', 'Yeong Chaur Shing Paper Mill Sdn. Bhd.', 'Audit: Tesco Non Food Standard', datetime.date(2019, 6, 12), 'Amber', 'Amber', datetime.date(2019, 6, 19), datetime.date(2019, 6, 11), datetime.date(2019, 6, 12), '125029', 'Awaiting Corrective Action', 'Active', 'MY Chen Poh Lian', 'Malaysia', 'Malaysia', 'MY / Grocery E - Health Care, Beauty, Paper Product, Personal Care')
('SP0004', 'Campton Marketing Sdn Bhd', 'ST0161', 'Yakin Sedap Sdn. Bhd.', 'Audit: TFMS - Maintenance V6', datetime.date(2018, 2, 6), 'Green', 'Amber', datetime.date(2017, 2, 28), datetime.date(2017, 2, 20), datetime.date(2017, 2, 21), '21082', 'Completed', 'Active', 'MY Yvonne Siow', 'Malaysia', 'Malaysia', 'MY / Essential')
('SP0004', 'Campton Marketing Sdn Bhd', 'ST0161', 'Yakin Sedap Sdn. Bhd.', 'Audit: TFMS - Maintenance V6', datetime.date(2018, 2, 6), 'Green', 'Green', datetime.date(2018, 2, 28), datetime.date(2018, 2, 5), datetime.date(2018, 2, 6), '95481', 'Completed', 'Active', 'MY Yvonne Siow', 'Malaysia', 'Malaysia', 'MY / Essential')
('SP0155', 'Soon Hup Edible Oils Sdn Bhd', 'ST0193', 'Soon Hup Edible Oils Sdn Bhd', 'Audit: TFMS - Maintenance V6', datetime.date(2019, 12, 3), 'Green', 'Green', datetime.date(2017, 10, 31), datetime.date(2017, 10, 19), datetime.date(2017, 10, 19), '23018', 'Completed', 'Active', 'MY Charlene Selvarathnam', 'Malaysia', 'Malaysia', 'MY / Grocery - Commodities')
('SP0155', 'Soon Hup Edible Oils Sdn Bhd', 'ST0193', 'Soon Hup Edible Oils Sdn Bhd', 'Audit: TFMS - Maintenance V6', datetime.date(2019, 12, 3), 'Green', 'Green', datetime.date(2019, 1, 24), datetime.date(2019, 1, 24), datetime.date(2019, 1, 24), '117089', 'Completed', 'Active', 'MY Charlene Selvarathnam', 'Malaysia', 'Malaysia', 'MY / Grocery - Commodities')
('SP0155', 'Soon Hup Edible Oils Sdn Bhd', 'ST0193', 'Soon Hup Edible Oils Sdn Bhd', 'Audit: Tesco Food Standard', datetime.date(2019, 12, 3), 'Green', 'Green', datetime.date(2019, 12, 6), datetime.date(2019, 12, 3), datetime.date(2019, 12, 3), '135157', 'Awaiting Corrective Action', 'Active', 'MY Charlene Selvarathnam', 'Malaysia', 'Malaysia', 'MY / Grocery - Commodities')

In [2]:
import teradatasql

In [22]:
import teradata
import pandas as pd

host,username,password = 'tdpg','IN22912959', 'rakhiruchi_007'
#Make a connection
udaExec = teradata.UdaExec (appName="test", version="1.0", logConsole=False)


with udaExec.connect(method="odbc",system=host, username=username,
                            password=password, driver="Teradata Database ODBC Driver 16.00") as connect:

    query = "select * from DXWV_PROD_UK_VIEW_ACCESS.VWV0LWJ_WK_IT_LS_SUPP sample 10;"

    #Reading query to df
    df = pd.read_sql(query,connect)
    # do something with df,e.g.
    print(df.head()) #to see the first 5 rows

DatabaseError: (10065, "[08001] [WSock32 DLL] 10065 WSA E HostUnreach: The Teradata server can't currently be reached over this network")

In [28]:
import teradatasql
query = "select * from DXWV_PROD_UK_VIEW_ACCESS.VWV0LWJ_WK_IT_LS_SUPP sample 10;"
query=pd.read_sql_query("Documents\Check for sales for supplier.sql")

with teradatasql.connect(host='tdpg', user='rcoe', password='rcoe') as connect:
    df = pd.read_sql(sqlCommands, connect)
df.head(2)

TypeError: read_sql_query() missing 1 required positional argument: 'con'

In [18]:
import pyodbc

 #You can install teradata via PIP: pip install pyodbc
 #to get a list of your odbc drivers names, you could do: pyodbc.drivers()

#Make a connection
link = 'DRIVER={Teradata};DBCNAME={tdpg};UID={IN22912959};PWD={rakhiruchi_007}'.format(
                      DRIVERNAME='tdpg',hostname='tdpg',  
                      uid=username, pwd=password)
with pyodbc.connect(link,autocommit=True) as connect:

    #Reading query to df
    df = pd.read_sql(query,connect)

KeyError: 'Teradata'

In [30]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import dash_table
import teradatasql
import plotly.express as px

query = """select 
distinct
a.Supplier,
bpr.Junior_Buyer,
SUm(Sales_Value) as Sales
from DXWV_PROD_UK_VIEW_ACCESS.VWV0LWJ_WK_IT_LS_SUPP as a 
inner join dxwi_prod_generic_play_pen.a1_hierarchy_tpnb bpr
on a.Item_L2_SKU = bpr.base_product_number
where Year_week_Number >=201924 and bpr.Commercial_Director in ('FRES          H.', 'PACKAGE       D.')
group by 1,2
;"""
with teradatasql.connect(host='tdpg', user='rcoe', password='rcoe') as connect:
    df = pd.read_sql(query, connect)
df.head(2)

# app=dash.Dash()
# colors={'background':'#ccc','text':'#00539f'}

# fig = px.bar(df, x="Junior_Buyer", y="Sales", color="Supplier", barmode="group")

# app.layout=html.Div(style={'backgroundColor':colors['background']},children=[
#     html.H1(
#     children='QVIS',
#     style={
#         'textAlign':'center',
#         'color':colors['text']
#     }),
#     html.Div(
#     children='Supplier Sales >0',
#     style={
#         'textAlign': 'center',
#         'color': colors['text']
#     }),
#     dash_table.DataTable(
# 	id='table1',
# 	columns=[{"name":i,"id":i} for i in df.columns],
# 	data=df.to_dict('records'),
# 	fixed_rows={'headers': True},
# 	style_table={'height': '300px', 'overflowY': 'auto'}
# 	),
# 	html.H1(
#     children='Junior Buyer Sales',
#     style={
#         'textAlign':'center',
#         'font-size':'20px',
#         'color':colors['text']
#     }),
# 	dcc.Graph(
#         id='example-graph',
#         figure=fig
#     )
# ])


# if __name__ == '__main__':
# 	app.run_server()

   Supplier                      Junior_Buyer     Sales
0   26883.0  ALES&STOU     T.                      0.00
1   65264.0  LIQUEUR&SPECIAL.                  32338.82

In [3]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import dash_table
import teradatasql
import plotly.express as px

query = """select * from DXWI_PROD_RPT_PLAY_PEN.DB_dealz_Web_Scrape sample 10 ;"""
with teradatasql.connect(host='tdpg', user='SVC-Price-TeamROI', password='Adask*sask*Dnsd') as connect:
    df = pd.read_sql(query, connect)
df.head(2)

OperationalError: [Version 17.0.0.3] [Session 91046860] [Teradata Database] [Error 8017] The UserId, Password or Account is invalid.
 at gosqldriver/teradatasql.(*teradataConnection).formatDatabaseError TeradataConnection.go:1138
 at gosqldriver/teradatasql.(*teradataConnection).makeChainedDatabaseError TeradataConnection.go:1154
 at gosqldriver/teradatasql.(*teradataConnection).makeDatabaseError TeradataConnection.go:1166
 at gosqldriver/teradatasql.(*teradataConnection).processMessageSuccessOrError TeradataConnection.go:1269
 at gosqldriver/teradatasql.newTeradataConnection TeradataConnection.go:571
 at gosqldriver/teradatasql.(*teradataDriver).Open TeradataDriver.go:32
 at database/sql.dsnConnector.Connect sql.go:709
 at database/sql.(*DB).conn sql.go:1233
 at database/sql.(*DB).Conn sql.go:1739
 at main.goCreateConnection goside.go:275
 at main._cgoexpwrap_117d196a982e_goCreateConnection _cgo_gotypes.go:246
 at runtime.cgocallbackg1 cgocall.go:332
 at runtime.cgocallbackg cgocall.go:207
 at runtime.cgocallback_gofunc asm_amd64.s:793
 at runtime.goexit asm_amd64.s:1373