In [8]:
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process 
import pandas as pd

def checker(wrong_options,correct_options):

    names_array=[]
    ratio_array=[]    
    for wrong_option in wrong_options:
        if wrong_option in correct_options:
           names_array.append(wrong_option)
           ratio_array.append('100')
        else:   
            x=process.extractOne(wrong_option,correct_options,scorer=fuzz.token_set_ratio)
            names_array.append(x[0])
            ratio_array.append(x[1])
    return names_array,ratio_array

df_Original_List=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\Analysis\TFMS analysis Template 12 08 2020.xlsx',sheet_name='Commercial Data')

df_To_beMatched=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\Updates\202032\EPW Vlookup Match.xlsx',sheet_name='SQL Server Output')

In [9]:
df_Original_List['Supplier_Name_3']=df_Original_List['Supplier_Name'].str.upper()
df_To_beMatched['Supplier_Name_3']=df_To_beMatched['Supplier_Name'].str.upper()


df_Original_List['Supplier_Name_3']=df_Original_List['Supplier_Name_3'].str.replace('LTD','').str.replace('LIMITED','')
df_To_beMatched['Supplier_Name_3']=df_To_beMatched['Supplier_Name_3'].str.replace('LTD','').str.replace('LIMITED','')

In [10]:
str2Match = df_To_beMatched['Supplier_Name_3'].fillna('######').tolist()
       
strOptions =df_Original_List['Supplier_Name_3'].fillna('######').tolist()
name_match,ratio_match=checker(str2Match,strOptions)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '######']

In [11]:
df1 = pd.DataFrame()
df1['old_names']=pd.Series(str2Match)
df1['correct_names']=pd.Series(name_match)
df1['correct_ratio']=pd.Series(ratio_match)
df1.head(2)

                           old_names  correct_names correct_ratio
0  KERRY FOODS CARRICKMACROSS SC4094   KERRY FOODS            100
1                 MARLOW FOODS 14330  MARLOW FOODS            100

In [6]:
df1.to_excel('epw_output.xlsx')