In [14]:
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process 
import pandas as pd

def checker(wrong_options,correct_options):

    names_array=[]
    ratio_array=[]    
    for wrong_option in wrong_options:
        if wrong_option in correct_options:
           names_array.append(wrong_option)
           ratio_array.append('100')
        else:   
            x=process.extractOne(wrong_option,correct_options,scorer=fuzz.token_set_ratio)
            names_array.append(x[0])
            ratio_array.append(x[1])
    return names_array,ratio_array

df_Original_List=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\Analysis\TFMS analysis Template 12 08 2020.xlsx',sheet_name='Commercial Data')

df_To_beMatched=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\Updates\202032\EPW Vlookup Match.xlsx',sheet_name='SQL Server Output')

In [15]:
df_Original_List['Supplier_Name_3']=df_Original_List['Supplier_Name'].str.upper()
df_To_beMatched['Supplier_Name_3']=df_To_beMatched['Supplier_Name'].str.upper()


df_Original_List['Supplier_Name_3']=df_Original_List['Supplier_Name_3'].str.replace('LTD','').str.replace('LIMITED','')
df_To_beMatched['Supplier_Name_3']=df_To_beMatched['Supplier_Name_3'].str.replace('LTD','').str.replace('LIMITED','')

In [16]:
commercial_only_OBL=df_Original_List[df_Original_List['OBL Count']>0]
commercial_only_OBL.head(2)

,lookup,Origin,Supplier_Number,Supplier_Name,Commercial_Director,Commercial_Area,Category_Director,Category_Area,Buying_Controller,Product_Area,...,Parent_Supplier_Number_TFMS,Parent_Supplier_Name,OBL Count,Count,Supplier Name from TQC,Supplier Code from TQC,Supplier Number from TQC,Match?,COGS,Supplier_Name_3
8,54364HOMEBAK E.,Commercial,54364,SWAN MILL PAPER CO.LTD.,PACKAGE D.,Packaged,GROCER Y.,Grocery,CLASSIC GROCERY.,Classic Grocery,...,492,SWAN MILL PAPER AND CO LTD,4,0,NaN,NaN,NaN,no match,7.0,SWAN MILL PAPER CO..
15,64784FBAKERYORDERABL.,Commercial,64784,PANELTO FOODS LTD,FRES H.,Fresh,BAKERY&DAIR Y.,Bakery & Dairy,IN STORE BA K.,Instore Bakery,...,7472,PANELTO FOODS LTD,16,0,NaN,NaN,NaN,no match,12575979.0,PANELTO FOODS

In [17]:
df_To_beMatched=df_To_beMatched[df_To_beMatched.Supplier_Number.isnull()]

In [18]:
df_To_beMatched.head()

,Unnamed: 0,Year,Withdrawal_Date,Period,EPW,Class,Year_Period,Supplier_Number,Supplier_Name,Supplier_Name_2,Withdrawal_Reason,TPNB,Junior_Buyer,Category_Director,Countries,rank_tpnb,Supplier_Name_3
233,20184810Grove Turkeys SC,2018,2018-12-20,10,4810,Withdrawal,201810,NaN,Grove Turkeys SC0131,Grove Turkeys SC,"Product quality - organoleptic, not to spec",86113712,TURKE Y.,MF P.,ROI,1,GROVE TURKEYS SC0131
263,20194940Bandon Co op,2019,2019-06-13,4,4940,Recall,201904,NaN,Bandon Co op,Bandon Co op,Microbiological,72835348,BUTTERSPREAD S.,BAKERY&DAIR Y.,ROI,1,BANDON CO OP
268,20194963ACTIVBOD,2019,2019-07-04,5,4963,Withdrawal,201905,NaN,ACTIVBOD,ACTIVBOD,"Legal - weights, promo, statements",81492595,PREMIUMBEAUT Y.,HB&WELLNES S.,UK,1,ACTIVBOD
269,20194963ACTIVBOD,2019,2019-07-04,5,4963,Withdrawal,201905,NaN,ACTIVBOD,ACTIVBOD,"Legal - weights, promo, statements",81492595,PREMIUMBEAUT Y.,HB&WELLNES S.,UK,1,ACTIVBOD
289,"20194939Refresco Beverages UK, Code: , Site Co...",2019,2019-06-13,4,4939,Withdrawal,201904,NaN,"Refresco Beverages UK, Code: 49558, Site Code:...","Refresco Beverages UK, Code: , Site Code:","Labelling - Origin, incorrect label, Print Er...",84827524,MIXER S.,IMPULS E.,UK,1,"REFRESCO BEVERAGES UK, CODE: 49558, SITE CODE:..."

In [19]:
jb_comm=df_To_beMatched['Junior_Buyer'].unique()
jb_comm=pd.DataFrame(jb_comm,columns={'Junior_Buyer'})
# jb_comm=jb_comm[jb_comm['Junior_Buyer']=='STONEFRUI     T.']
jb_comm

        Junior_Buyer
0   TURKE         Y.
1   BUTTERSPREAD  S.
2   PREMIUMBEAUT  Y.
3   MIXER         S.
4   CARIBBEA      N.
5   TABLESAUCE    S.
6   BERRIE        S.
7   FIRSTAI       D.
8   DRIEDFRUITNUT S.
9   MULTICRISP    S.
10  DAIRYALTERNATIV.
11  SHARINGDESSERTS.
12  FOO           D.
13  FZN READY MEALS.
14  ORALCAR       E.
15  DAIRY DRINK   S.
16  MEXICA        N.
17  WF CHILL FROZEN.
18  ADULTYOGURT   S.
19  PHARMAC       Y.
20  FRZEN FREE FROM.
21  ARGENTINA     A.
22  FRZEN MEAT FREE.
23  BEEF MINC     E.
24  PACKETSNACK   S.
25  PASTASAUCE    S.
26  BIGBAGC       S.
27  AMBIENTJUIC   E.
28  VITAMIN       S.
29  FROZEN POULTR Y.
30  READYTODRIN   K.
31  SNACKPROCCHEESE.
32  SAVOURYBISCUITS.
33  WORLDBEER     S.
34  FFGROCER      Y.
35  SAUSAG        E.
36  SURFACE CAR   E.
37  ORIENTA       L.
38  READY TO COO  K.
39  CHOCOBAR&MULT I.
40  CONDSALADDRES S.
41  EUROPEA       N.
42  PASTR         Y.
43  CHILLEDJUIC   E.
44  CNTR POULTR   Y.
45  WASHIN        G.
46  COREMEAL      S.
47  PREPKWHITEFIS H.
48  SPECIALCHEES  E.
49  KIDS YOGHUR   T.
50  FFIMPULS      E.
51  FRONT OF STOR E.
52  SLICCOOKEDMEATS.
53  MEDICIN       E.
54  GRAPE         S.
55  RIC           E.
56  MORNING GOOD  S.

In [20]:
cols=['TQC_Supplier_Name','Comm_Supplier_Name','junio_buyer','correct_ratio']
# commercial_for_loop=commercial_only_OBL.copy()
df2=pd.DataFrame()

output_list=[]


for i in jb_comm['Junior_Buyer']:
    filter_data_tqc=df_To_beMatched[df_To_beMatched['Junior_Buyer']==i]
    filter_data_comm=df_Original_List[df_Original_List['Junior_Buyer']==i]

    if not filter_data_comm.empty:

        str2Match = filter_data_tqc['Supplier_Name_3'].fillna('######').tolist()
        
        strOptions =filter_data_comm['Supplier_Name_3'].fillna('######').tolist()
#         strTesco_Brand_Ind =filter_data_tqc['Tesco_Brand_Ind'].fillna('######').tolist()
        
#         name_match,ratio_match=checker(str2Match,strOptions)
        
        for j in range(0,len(str2Match)):
            x=process.extractOne(str2Match[j],strOptions,scorer=fuzz.token_set_ratio)
            while x[1]==100:
                output_list=[str2Match[j],x[0],i,x[1]]
                zipped = zip(cols, output_list)
                a_dictionary = dict(zipped)
                df1=pd.DataFrame(a_dictionary,columns=cols,index=[j])
                df2=df2.append(df1)
                #drop row which has the matched supplier name and junor buyer
                strOptions.remove(x[0])
                x=process.extractOne(str2Match[j],strOptions,scorer=fuzz.token_set_ratio)
            strOptions =filter_data_comm['Supplier_Name_3'].fillna('######').tolist()
#                 output_list=[str2Match[j],strSupplier_Code[j],x[0],i,x[1],strTesco_Brand_Ind[j]]
                
#                 filter_data_comm.drop(filter_data_comm[(filter_data_comm['Supplier_Name_3'] ==x[0])&(filter_data_comm['Junior_Buyer'] ==i)].index, inplace = True) 
                
            output_list=[str2Match[j],x[0],i,x[1]]
            zipped = zip(cols, output_list)
            a_dictionary = dict(zipped)
            df1=pd.DataFrame(a_dictionary,columns=cols,index=[j])
            df2=df2.append(df1)

        
        
df2.head(2)
# remainder_matches_using_fuzzy=df2
# remainder_matches_using_fuzzy=remainder_matches_using_fuzzy.drop_duplicates()
# remainder_matches_using_fuzzy[remainder_matches_using_fuzzy['TQC_Supplier_Name']=='BAKKAVOR'].head()

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '######']

      TQC_Supplier_Name   Comm_Supplier_Name       junio_buyer  correct_ratio
0  GROVE TURKEYS SC0131       GROVE TURKEYS   TURKE         Y.            100
0  GROVE TURKEYS SC0131  KELLY TURKEY FARMS   TURKE         Y.             47

In [22]:
df2.to_excel('epw_output_2.xlsx')