In [1]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot  as plt
%matplotlib inline
import seaborn as sns

In [2]:
data_set=pd.read_excel(r'C:\Users\IN22912959\OneDrive - Tesco\Documents\Supplier Score Card\New folder\Spec Tpnb 202038.xlsx',sheet_name='Sheet1')
hie=pd.read_excel(r'C:\Users\IN22912959\QVIS\hierarchy.xlsx',sheet_name='Sheet1')

In [3]:
#Take a copy of the data , so that you need not read the excel sheets again and again.
df=data_set.copy()

In [5]:
len(df[['Supplier_Code_Master_Spec','Site_Code']].drop_duplicates())

4844

In [29]:
df.head(2)
cols=['Specification Name in English','Specification Type','Supplier Name (English) (Master Spec)','Supplier Code (Master Spec)','Site Name (English) (Primary)','Site Code (Primary)','Product Code (TPNB)','Actual Launch Date']
new_cols=['Specification_Name','Specification_Type','Supplier_Name','Supplier_Code','Site_Name','Site_Code','Product_Code','Actual_Launch_Date']

In [6]:

df=df.drop_duplicates()
df.shape

(83606, 21)

In [7]:
# df.columns=new_cols
# df.head()
df["TPNB"] = df["TPNB"].str.extract("(\d*\.?\d+)", expand=True)

In [8]:
df.head()

,Year_Week_Number,Specification_Number,Version,Specification_Name,Status,TPNB,Specification_Type,Supplier_Name,Supplier_Code,Supplier_Code_Master_Spec,...,Site_Code,Site_Name,Technical_Manager,Path,Selected_Category,Main_Category,Sub_Category_Level_2,Sub_Category_Level_3,Actual_Launch_Date,Target_Launch_Date
0,202038,600674,1,EMMI MINI BABY PLAYSETS,Active,073508395,Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,5690,...,520268,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,IS Charles Cheng,IS / Toys / Toys,Toys,IS,Toys,Toys,2013-07-22,2013-07-22
1,202038,600943,2,13420 Tesco Bride Tiara,Collaborative Draft,076277691,Constructed Non Food,"Soma International Ltd.,",16380,16380,...,520271,NGKAI HIHHUIZHOU CHILDLIFE MANUFACTURING COMPA...,IS Eric Wang,IS / Toys / Toys,Toys,IS,Toys,Toys,2014-09-01,2014-08-01
2,202038,601753,1,EMMI FASHION FAVPROTES,Active,070266425,Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,5690,...,520268,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,IS Charles Cheng,IS / Toys / Toys,Toys,IS,Toys,Toys,2013-07-22,2013-07-22
3,202038,602151,1,EMMI NAPPY CHANGE PACK,Active,070266500,Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,5690,...,520268,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,IS Charles Cheng,IS / Toys / Toys,Toys,IS,Toys,Toys,2013-07-22,2013-07-22
4,202038,601611,1,EMMI BATHTIME FUN,Active,071127537,Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,5690,...,520268,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,IS Charles Cheng,IS / Toys / Toys,Toys,IS,Toys,Toys,2013-07-22,2013-07-22

In [9]:
df.dtypes
# df.to_excel('Nisar.xlsx')

Year_Week_Number                      int64
Specification_Number                  int64
Version                               int64
Specification_Name                   object
Status                               object
TPNB                                 object
Specification_Type                   object
Supplier_Name                        object
Supplier_Code                        object
Supplier_Code_Master_Spec            object
Supplier_Name_Master_Spec            object
Site_Code                            object
Site_Name                            object
Technical_Manager                    object
Path                                 object
Selected_Category                    object
Main_Category                        object
Sub_Category_Level_2                 object
Sub_Category_Level_3                 object
Actual_Launch_Date           datetime64[ns]
Target_Launch_Date           datetime64[ns]
dtype: object

In [10]:
df.TPNB=df.TPNB.fillna(0)
df.TPNB=df.TPNB.astype('int64')

In [11]:
df.dtypes

Year_Week_Number                      int64
Specification_Number                  int64
Version                               int64
Specification_Name                   object
Status                               object
TPNB                                  int64
Specification_Type                   object
Supplier_Name                        object
Supplier_Code                        object
Supplier_Code_Master_Spec            object
Supplier_Name_Master_Spec            object
Site_Code                            object
Site_Name                            object
Technical_Manager                    object
Path                                 object
Selected_Category                    object
Main_Category                        object
Sub_Category_Level_2                 object
Sub_Category_Level_3                 object
Actual_Launch_Date           datetime64[ns]
Target_Launch_Date           datetime64[ns]
dtype: object

In [12]:
df['tpnb_len']=df['TPNB'].astype(str).map(len)
df.head()

,Year_Week_Number,Specification_Number,Version,Specification_Name,Status,TPNB,Specification_Type,Supplier_Name,Supplier_Code,Supplier_Code_Master_Spec,...,Site_Name,Technical_Manager,Path,Selected_Category,Main_Category,Sub_Category_Level_2,Sub_Category_Level_3,Actual_Launch_Date,Target_Launch_Date,tpnb_len
0,202038,600674,1,EMMI MINI BABY PLAYSETS,Active,73508395,Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,5690,...,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,IS Charles Cheng,IS / Toys / Toys,Toys,IS,Toys,Toys,2013-07-22,2013-07-22,8
1,202038,600943,2,13420 Tesco Bride Tiara,Collaborative Draft,76277691,Constructed Non Food,"Soma International Ltd.,",16380,16380,...,NGKAI HIHHUIZHOU CHILDLIFE MANUFACTURING COMPA...,IS Eric Wang,IS / Toys / Toys,Toys,IS,Toys,Toys,2014-09-01,2014-08-01,8
2,202038,601753,1,EMMI FASHION FAVPROTES,Active,70266425,Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,5690,...,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,IS Charles Cheng,IS / Toys / Toys,Toys,IS,Toys,Toys,2013-07-22,2013-07-22,8
3,202038,602151,1,EMMI NAPPY CHANGE PACK,Active,70266500,Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,5690,...,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,IS Charles Cheng,IS / Toys / Toys,Toys,IS,Toys,Toys,2013-07-22,2013-07-22,8
4,202038,601611,1,EMMI BATHTIME FUN,Active,71127537,Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,5690,...,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,IS Charles Cheng,IS / Toys / Toys,Toys,IS,Toys,Toys,2013-07-22,2013-07-22,8

In [37]:
incorrect_tpnbs=df[df['tpnb_len']!=8]
incorrect_tpnbs

,Spec_Name,Spec_Type,Supplier_Name,Supplier_Code,Site_Name,Site_Code,Product_Code,Actual_Launch_Date,TPNB,tpnb_len
6,BABY WHEELS DINOSAUR/ ANIMAL PLAYSET,Constructed Non Food,Supreme Industrial Co. O/B S.P. Toys Industria...,15490,Dongguan Supreme Delicate Toys Co. Ltd.,515825,2005114705740,2013-10-04,2005114705740,13
8,F&F Forest Friends - Noisy Characters Rabbit (...,Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,520268,NaN,2015-01-15,0,1
9,Tesco Baby Link Ems - 4 pack (VPN 06034),Constructed Non Food,Hong Kong City Toys Factory Ltd.,5690,Kidsmate Toys Industrial (Shenzhen) Co. Ltd.,520268,NaN,2015-01-15,0,1
10,BASICS IR14 IRON,Constructed Non Food,Guangdong Xinbao Electrical Appl,5200,Guangdong Xinbao Electrical Appl 518243,518243,0753 62862,2014-12-11,753,3
11,Skandi Cushion (43 x 43cm),Constructed Non Food,Turner Bianca,62686,Creation 2,525080,NaN,2013-10-14,0,1
...,...,...,...,...,...,...,...,...,...,...
124217,Broccoli 375g Pre-pack,Master - Pre packed/Loose,Agrotomy Marketing,A8164,Sacoje,CE06,UK-000000000,NaT,0,1
124220,Broccoli 375g Pre-pack,Master - Pre packed/Loose,Agrotomy Marketing,A8164,SAT DOS MIL,CE07,UK-000000000,NaT,0,1
124223,Broccoli 375g Pre-pack,Master - Pre packed/Loose,Agrotomy Marketing,A8164,Southern England Farms Marketing Ltd,SEF01,UK-000000000,NaT,0,1
124226,Broccoli 375g Pre-pack,Master - Pre packed/Loose,Agrotomy Marketing,A8164,T H Clements,CE,UK-000000000,NaT,0,1
124229,Broccoli 375g Pre-pack,Master - Pre packed/Loose,Agrotomy Marketing,A8164,Wrangle,SV01,UK-000000000,NaT,0,1

In [13]:
# data_set[data_set['Specification Name in English']=='Potato Matchsticks']
df.to_excel('Spec_output.xlsx')

In [39]:
hie.head()

,TPNB,Commercial_Director,Category_Director,Buying_Controller,Junior_Buyer,Tesco_Brand_Ind
0,50000348,PACKAGE D.,IMPULS E.,SOFTDRINK S.,ADULTDRINK S.,B
1,50000379,FRES H.,PREPARED FOOD S.,FROZE N.,FROZEN MEA T.,B
2,50001050,FRES H.,BAKERY&DAIR Y.,PLANT BAKER Y.,BREA D.,B
3,50003178,PACKAGE D.,IMPULS E.,SOFTDRINK S.,ADULTDRINK S.,B
4,50004611,FRES H.,PRODUC E.,HORTICULTUR E.,INDOORPLANT S.,T

In [40]:
hie.dtypes

TPNB                    int64
Commercial_Director    object
Category_Director      object
Buying_Controller      object
Junior_Buyer           object
Tesco_Brand_Ind        object
dtype: object

In [50]:
hie['Junior_Buyer'][hie['Junior_Buyer']=='EUROPEA       N.'].drop_duplicates()

3222    EUROPEA       N.
Name: Junior_Buyer, dtype: object

In [51]:
df2=df.merge(hie,on=['TPNB'],how='inner')

In [52]:
df2.head()

,Spec_Name,Spec_Type,Supplier_Name,Supplier_Code,Site_Name,Site_Code,Product_Code,Actual_Launch_Date,TPNB,tpnb_len,Commercial_Director,Category_Director,Buying_Controller,Junior_Buyer,Tesco_Brand_Ind
0,Tesco Reading Glasses Twin Pack,Constructed Non Food,Alfred Franks Bartlett,1002955,Zhejiang Winsquare Technology,527341,UK-078304639,2015-04-13,78304639,8,PACKAGE D.,HB&WELLNES S.,HEALTHCAR E.,OPTICA L.,T
1,Tesco Health Reading Glasses 2 Pairs,Constructed Non Food,Alfred Franks Bartlett,1002955,Wenzhou Weilan Optical Co. Ltd.,527433,UK-078304639,2015-04-13,78304639,8,PACKAGE D.,HB&WELLNES S.,HEALTHCAR E.,OPTICA L.,T
2,Tesco Reading Glasses Twin Pack,Constructed Non Food,Alfred Franks Bartlett,1002955,Zhejiang Winsquare Technology,527341,UK-078304651,2015-04-13,78304651,8,PACKAGE D.,HB&WELLNES S.,HEALTHCAR E.,OPTICA L.,T
3,Tesco Health Reading Glasses 2 Pairs,Constructed Non Food,Alfred Franks Bartlett,1002955,Wenzhou Weilan Optical Co. Ltd.,527433,UK-078304651,2015-04-13,78304651,8,PACKAGE D.,HB&WELLNES S.,HEALTHCAR E.,OPTICA L.,T
4,Tesco Reading Glasses Twin Pack,Constructed Non Food,Alfred Franks Bartlett,1002955,Zhejiang Winsquare Technology,527341,UK-078304674,2015-04-13,78304674,8,PACKAGE D.,HB&WELLNES S.,HEALTHCAR E.,OPTICA L.,T

In [57]:
df3=df2[['Supplier_Code','Supplier_Name','Site_Code','Site_Name','TPNB','Junior_Buyer']][(df2['Supplier_Name']=='KATSOURIS BROTHERS LTD')].drop_duplicates()
# df3=df2[['Supplier_Code','Supplier_Name','Site_Code','Site_Name','Junior_Buyer']].drop_duplicates()

In [58]:
df3.to_excel('data_ref.xlsx')